<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
</head>
<body>
    <h1>Hello to the API interfact of Dynamic Risk Assessment System</h1>
    <h2>Welcome {{data.f1}}</h2>
	<img src="{{url_for('static', filename=data.fig1)}}" align="middle" />
	<img src="{{url_for('static', filename=data.fig2)}}" align="middle" />
	<img src="{{url_for('static', filename=data.fig3)}}" align="middle" />
	<img src="{{url_for('static', filename=data.fig4)}}" align="middle" />
	<img src="{{url_for('static', filename=data.fig5)}}" align="middle" />
	<img src="{{url_for('static', filename=data.fig6)}}" align="middle" />
</body>
</html>
